{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@NfqNomNomBundle/Resources/public/css/createRecipe.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% javascripts '@NfqNomNomBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var $addTagLink = $('<a href="#" class="add_product_link">Add a product</a>');
        var $object = "#createrecipe_myRecipeCategory";
        var $collectionHolder;
        var $timePickingElementId = '#createrecipe_preparationTime';
        var $numberOfServingsElementId = '#createrecipe_numberOfServings';

        $(document).ready(function () {
            $collectionHolder = $("#createrecipe_myRecipeProducts");
            $collectionHolder.prepend($addTagLink);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            addGenemuFunctionality($object);
            $('button , .add_product_link ').addClass("btn btn-primary");
            $('#createrecipe_preparationTime').attr('placeholder', 'hh:mm');

            $($timePickingElementId).timepicker({ 'timeFormat': 'G:i',
                'step': '1',
                'minTime': '0:00'});

            $($numberOfServingsElementId)
                    .attr('type', "number")
                    .attr('min', '1')
                    .timepicker({ 'timeFormat': 'G',
                        'step': '60',
                        'minTime': '1:00',
                        'maxTime': '20:00'});

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addProductForm($collectionHolder);
            });
        });
    </script>

    <div id="createdRecipeBox">
        <div id="createdRecipe">
            <br>
            {{ form_start(forma, {'attr': {'class': 'well span6' }}) }}
            {{ form_widget(forma) }}
            {{ form_end(forma) }}
        </div>
    </div>
{% endblock %}