{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@NfqNomNomBundle/Resources/public/css/recipesList.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div id="backgroundRecipeList">
    <h2>
        {{ name }}
    </h2>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="text-center">
            <a href="{{ path('Nfq_nom_nom_create_recipe') }}" class="btn btn-primary">
                Create new recipe
            </a>
        </div>
    {% endif %}
    <div id="main">
        {% for recipe in recipes %}
            <a href="{{ path('nfq_nom_nom_recipe', {'id': recipe.getId()}) }}">
                <div id="recipeBoxSmall">
                    <div id="recipePhotoBoxSmall"
                         style="background-image: url({{ vich_uploader_asset(recipe, 'image') }})">
                    </div>
                    <div id="textBox">
                        {{ recipe.getRecipeName() }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div id="pagination">
|
        {% for i in 1..numberOfPages %}

            <a href="{{ url('nfq_nom_nom_recipe_list', {'page': i}) }}">
                {{ i }}
            </a> |
        {% endfor %}
    </div>
    </div>
{% endblock %}