{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    <div class="addNew">  <script>
        var object = "#adduserstoevent_user";
        $(document).ready(function () {
            addGenemuFunctionality(object);
        });
    </script>

    {{ error }}

    {{ form_start(forma) }}
    {{ form_row(forma.user) }}
    {{ form_row(forma.submit) }}
    {{ form_end(forma) }}
    {#generated content displaying#}</div>
{% endblock %}