{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    {{ parent() }}
    {{ form_stylesheet(forma) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {{ form_javascript(forma) }}
{% endblock %}
{% block content %}
    <div id="myEvent">
        {{ error }}
        {{ form_start(forma) }}
        {{ form_errors(forma) }}
        {{ form_row(forma.eventName) }}
        {{ form_row(forma.eventPlanningDueDate) }}
        {{ form_row(forma.eventDate) }}

        {{ form_widget(forma.create) }}

        {{ form_end(forma) }}
    </div>
    {#generated content displaying#}
{% endblock %}