{% extends "NfqNomNomBundle:Default:index.html.twig" %}



{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(forma) }}
{% endblock %}
{% block content %}
    <div id="myEvent">
        {{ error }}
        {{ form_start(forma) }}
        {{ form_errors(forma) }}
        {{ form_row(forma.eventName) }}
        {{ form_row(forma.eventPlanningDueDate) }}
        {{ form_row(forma.eventDate) }}

            {{ form_widget(forma.create) }}

        {{ form_end(forma) }}
    </div>
    {#generated content displaying#}
{% endblock %}