{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block stylesheets %}
    {% stylesheets filter="compass"
    "@NfqNomNomBundle/Resources/public/css/event.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(forma) }}
{% endblock %}
{% block content %}
    {{ error }}
    <div id="myEvent">
        {{ form_start(forma) }}
        {{ form_errors(forma) }}
        {{ form_row(forma.eventName) }}
        {{ form_row(forma.eventPlanningDueDate) }}
        {{ form_row(forma.eventDate) }}

        <div class="buttonBox">
            {{ form_widget(forma.create) }}
        </div>

        {{ form_end(forma) }}
    </div>
    {#generated content displaying#}
{% endblock %}