{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(forma) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(forma) }}
{% endblock %}
{% block content %}
    {{ error }}
    <br>
    <div class="myEvent">
        {{ form_start(forma, {'attr': {'class': 'well span6' }}) }}
        {{ form_errors(forma) }}
        {{ form_row(forma.eventName) }}
        {{ form_row(forma.eventPlanningDueDate) }}
        {{ form_row(forma.eventDate) }}

        <div>
            {{ form_widget(forma.create, {'attr': {'class': 'btn btn-primary' }}) }}
        </div>

        {{ form_end(forma) }}
    </div>
    {#generated content displaying#}
{% endblock %}