{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    <style>
        #right-area{
            float: right;
            height: 100%;
            padding:40px;
            width: 350px;
            margin-top:42px;
            margin-right:50px;
            border-radius:20px;
            background-color: #eeeeee;
            right: 0;
            top: 0;
            position:fixed
        }

        #left-area{
            float:left;
            height: 100%;
            padding: 40px;
            width: 800px;
            margin-top:42px;
            margin-left:50px;
            border-radius:20px;
            background-color: #eeeeee;

            top: 0;
            position:fixed;
        }



    </style>

    <div id="right-area">

    {{ error }}
    <div>Event Name:</div>
    {{ event.eventName }}

    <div>Event creation date:</div>
    {{ event.dateCreated.date }}

    <div>Event date:</div>
    {{ event.eventDate.date }}

    <div>You can choose which products you want to bring.</div>
    <hr>
    <div>Host of the event:</div>
    <div>{{ host.myUser.username }}</div>


    <hr>
    <div> people invited:</div>
    {% for userEvent in invitedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}

    <hr>
    <div> people accepted invitations:</div>
    {% for userEvent in acceptedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}
    <hr>

    </div>
    <div id="left-area">
    <div> recipes included:</div>
    {% for recipeName, recipe in information %}
        <a href="{{ path('nfq_nom_nom_recipe', {'id':recipe['id']}) }}">
            {{ recipeName }}
        </a>
        <span>People eating: {{ recipe['totalUpvote'] }}</span>
        <div id="recipeIngredients{{ recipe['id'] }}">
            <ul class="list-group">
                {% for product in recipe['products'] %}
                    <li class="list-group-item">
                        {{ product['quantityDisplay'] }}
                        {{ product['quantityMeasure'] ? product['quantityMeasure'] : '' }}
                        {{ product['productName'] }}
                        <p>
                            <span> BRINGING: </span>
                            {% for bringer in product['bringers'] %}

                        <p>
                            <span> {{ bringer['name'] }} </span>
                            {% if (bringer['quantity']!=0) %}
                                <span>  ({{ bringer['quantity'] }} {{ product['quantityMeasure'] }})</span>
                            {% endif %}
                        </p>
                        {% endfor %}
                        {{ form_start(product['forma']) }}
                        {{ form_widget(product['forma']) }}
                        {{ form_rest(product['forma']) }}
                        {{ form_end(product['forma']) }}
                    </li>
                {% endfor %}
                </p>
            </ul>
        </div>
        <br>
    {% endfor %}

    <hr>
    {% if isHost %}
        <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_regress_event',
        {'eventId': event.id}) }}">Go back to Recipe suggestion</a>
        <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_progress_event',
        {'eventId': event.id}) }}">Finalize event</a>
    {% elseif currentUserEvent.readyToPhaseThree == 0 %}
        <hr>
        <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_ready_to_progress',
        {'eventId': event.id}) }}">Ready To Finalize Event</a>
    {% endif %}
    <div class="circle" title="people ready to progress"> {{ readyPeople['ready'] }}/{{ readyPeople['all'] }}</div>
    {#generated content displaying#}
    </div>
{% endblock %}