{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    <style>
        #right-area{
            float: right;
            height: 100%;
            padding:40px;
            width: 350px;
            margin-top:42px;
            margin-right:50px;
            border-radius:20px;
            background-color: #eeeeee;
            right: 0;
            top: 0;
            position:fixed
        }

        #left-area{
            float:left;
            height: 100%;
            padding: 40px;
            width: 800px;
            margin-top:42px;
            margin-left:50px;
            border-radius:20px;
            background-color: #eeeeee;

            top: 0;
            position:fixed;
        }
        #element_to_pop_up {
            background-color:#fff;
            border-radius:15px;
            color:#000;
            display:none;
            padding:20px;
            min-width:400px;
            min-height: 180px;
            margin-right: 440px;

        }
        .b-close {
            border-radius: 7px;
            font: bold 131% sans-serif;
            padding: 0 6px 2px;
            background-color: #2b91af;
            color: #fff;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            position: absolute;
            right: -7px;
            top: -7px;
        }
        .b-close:hover {
            background-color: #1e1e1e;
        }



    </style>
    <div id="right-area">
    {{ error }}
    <div>Event Name:</div>
    {{ event.eventName }}

    <div>Event creation date:</div>
    {{ event.dateCreated.date }}

    <div>Event date:</div>
    {{ event.eventDate.date }}

    <div>You can start inviting people and suggesting recipes:</div>

    <hr>
    <a class="btn btn-info" href="{{ path('Nfq_nom_nom_add_user_to_event',
    {'eventId': event.id}) }}">Add a person</a>

    <hr>
    <div>Host of the event:</div>
    <div>{{ host.myUser.username }}</div>

    <hr>
    <div> people invited:</div>
    {% for userEvent in invitedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}

    <hr>
    <div> people accepted invitations:</div>
    {% for userEvent in acceptedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}
    <hr>
    <a class="btn btn-info" href="{{ path('Nfq_nom_nom_add_recipe_to_event',
    {'eventId': event.id}) }}">Add a recipe</a>
    </div>


    <div id="left-area">

    <div> recipes included:</div>
    {% for eventRecipe in eventRecipes %}
        <a href="{{ path('nfq_nom_nom_recipe', {'id':eventRecipe.myRecipe.id}) }}">
            {{ eventRecipe.myRecipe.recipeName }}
            ( Servings: {{ eventRecipe.myRecipe.numberOfServings }} )
        </a>
        <br>
        <a class="btn btn-info" href="{{ path('Nfq_nom_nom_upvote_recipe',
        {'eventRecipeId':eventRecipe.id,
        'userEventId':currentUserEvent.id}) }}">
            I would like.
        </a>

        <a class="btn btn-info" href="{{ path('Nfq_nom_nom_downvote_recipe',
        {'eventRecipeId':eventRecipe.id,
        'userEventId':currentUserEvent.id}) }}">
            I wouldn't like.
        </a>
        <span>Total people wants this dish: {{ eventRecipe.totalUpvote }}</span>
        <br>
    {% endfor %}
    {% if isHost %}
        <hr>
        <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_progress_event',
        {'eventId': event.id}) }}">End Recipe Suggestion</a>
    {% elseif currentUserEvent.readyToPhaseTwo == 0 %}
        <hr>
        <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_ready_to_progress',
        {'eventId': event.id}) }}">Ready To progress</a>
    {% endif %}
    <div class="circle" title="people ready to progress"> {{ readyPeople['ready'] }} / {{ readyPeople['all'] }}</div>
    {#generated content displaying#}
    </div>
{% endblock %}