{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block content %}
    <div id="eventManagerBox">
        {{ error }}
        {% set pastDueDate = '2' %}
        <br>

        <div class="eventButton ">
            <a class="eventButton" href="{{ path('Nfq_nom_nom_create_event') }}">Create Event</a>
        </div>
        <hr>
        <div class="activeEvent">
            <h3>Active events</h3>

            <div>Events where you are host:</div>
            <div class="eventName">
                {% for userEvent in hostUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div>Events where you are invited:</div>
            <div class="eventName">
                {% for userEvent in invitedUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <span>{{ userEvent.myEvent.eventName }}</span>
                        <a href="{{ path('Nfq_nom_nom_accept_event', {'userEventId': userEvent.id}) }}">
                            <div class="activeEventBox">Accept</div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div>Events where you are guest:</div>
            <div class="eventName">
                {% for userEvent in acceptedUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="endedEvent">
            <h3>Ended planning events</h3>

            <div>Events where you were host:</div>
            <div class="eventName">
                {% for userEvent in hostUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="endedEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div>Events where you were invited:</div>
            <div class="eventName">
                {% for userEvent in invitedUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}
                        <div class="endedEventBox">
                            <span>{{ userEvent.myEvent.eventName }}</span></div>
                        {# you can no longer accept past due date events #}
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div>Events where you were guest:</div>
            <div class="eventName">
                {% for userEvent in acceptedUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}
                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="endedEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}