{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@NfqNomNomBundle/Resources/public/css/eventManager.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}
{% block content %}
    <div id="eventManagerBox">
        {{ error }}
        {% set pastDueDate = '2' %}
        <br>

        <div class="eventButton ">
            <a class="eventButton" href="{{ path('Nfq_nom_nom_create_event') }}">Create Event</a>
        </div>
        <hr>
        <div id="activeEvent">
            <div class="col-sm-6 col-md-6">
                <h3>Active events</h3>

                <div>Events where you are host:</div>

                {% for userEvent in hostUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <hr>
                <div>Events where you are invited:</div>
                {% for userEvent in invitedUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <span>{{ userEvent.myEvent.eventName }}</span>
                        <a href="{{ path('Nfq_nom_nom_accept_event', {'userEventId': userEvent.id}) }}">
                            <div class="activeEventBox">Accept</div>
                        </a>
                    {% endif %}
                {% endfor %}
                <hr>
                <div>Events where you are guest:</div>
                {% for userEvent in acceptedUE %}
                    {% if userEvent.myEvent.eventPhase != pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="endedEvent">
            <div class="col-sm-6 col-md-6">
                <h3>Ended planning events</h3>

                <div>Events where you were host:</div>
                {% for userEvent in hostUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}

                        <a href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <hr>
                <div>Events where you were invited:</div>
                {% for userEvent in invitedUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}
                        <div class="activeEventBox">
                            <span>{{ userEvent.myEvent.eventName }}</span></div>
                        {# you can no longer accept past due date events #}
                    {% endif %}
                {% endfor %}
                <hr>
                <div>Events where you were guest:</div>
                {% for userEvent in acceptedUE %}
                    {% if userEvent.myEvent.eventPhase == pastDueDate %}
                        <a
                                href="{{ path('Nfq_nom_nom_events', {'eventId': userEvent.myEvent.id}) }}">
                            <div class="activeEventBox">
                                {{ userEvent.myEvent.eventName }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}