{% extends "NfqNomNomBundle:Default:index.html.twig" %}

    {% block content %}
        {{ error }}

        <style>

            #right-area {
                float: right;
                height: 100%;
                padding: 40px;
                min-width: 20%;
                overflow: hidden;
                margin-top: 42px;
                margin-right: 50px;
                margin-left: 30%;
                border-radius: 20px;
                background-color: #eeeeee;
                right: 0;
                top: 0;
                position: absolute;
            }

            #left-area {
                float: left;
                height: 100%;
                padding: 40px;
                min-width: 55%;
                overflow: hidden;
                margin-top: 42px;
                margin-left: 50px;
                border-radius: 20px;
                background-color: #eeeeee;
                margin-right: 60%;
                top: 0;
                position: absolute;
            }

            #element_to_pop_up {
                background-color: #fff;
                border-radius: 15px;
                color: #000;
                display: none;
                padding: 20px;
                min-width: 400px;
                min-height: 180px;
                margin-right: 440px;

            }

            .b-close {
                border-radius: 7px;
                font: bold 131% sans-serif;
                padding: 0 6px 2px;
                background-color: #2b91af;
                color: #fff;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                position: absolute;
                right: -7px;
                top: -7px;
            }

            .b-close:hover {
                background-color: #1e1e1e;
            }


        </style>

        {{ error }}

        <div class="eventBox">

            <h2>
                {{ event.eventName }}
            </h2>

            <div id="leftArea">
                <div class="DateBox">
                    <div class="createdDate">
                        <div>Event creation date:</div>
                        {{ event.dateCreated.date }}
                    </div>
                    <div class="eventDate">
                        <div>Event date:</div>
                        {{ event.eventDate.date }}
                    </div>

                    <hr>
                    <div>Host of the event:</div>
                    <div>{{ host.myUser.username }}</div>
                    <hr>
                </div>
                <div class="infoBox">You can start inviting people and suggesting recipes:</div>

                Ready:

                {% if isHost %}
                <div class="circle" title="people ready to progress"> {{ readyPeople['ready'] }}
                    / {{ readyPeople['all'] }}</div>
                <div class="endPhase">

                    <a class="buttonBox" href="{{ path('Nfq_nom_nom_progress_event',
                    {'eventId': event.id}) }}">End Recipe Suggestion</a></div>
                {% elseif currentUserEvent.readyToPhaseTwo == 0 %}


                <div class="readyBox">
                    <a class="buttonBox" href="{{ path('Nfq_nom_nom_ready_to_progress',
                    {'eventId': event.id}) }}">Ready To progress</a>
                    {% endif %}

                    {#generated content displaying#}

                </div>
            </div>
            <div id="rightArea">
                <div id="actionBox">

                    <div class="personsBox">
                        <a class="buttonBox" href="{{ path('Nfq_nom_nom_add_user_to_event',
                        {'eventId': event.id}) }}">Add a person</a>

                    </div>
                    <hr>


                    <div><h5>People invited:</h5></div>
                    {% for userEvent in invitedUE %}
                        <div> {{ userEvent.myUser.username }}</div>
                    {% endfor %}

                    <hr>
                    <div><h5>People accepted invitations:</h5></div>
                    {% for userEvent in acceptedUE %}
                        <div> {{ userEvent.myUser.username }}</div>
                    {% endfor %}
                </div>
                <hr>
                <div class="recipesBox">
                    <div class="recipeButtonBox">
                        <a class="buttonBox" href="{{ path('Nfq_nom_nom_add_recipe_to_event',
                        {'eventId': event.id}) }}">Add a recipe</a>
                    </div>
                    <hr>
                    <div><h5> Recipes included:</h5></div>
                    {% for eventRecipe in eventRecipes %}
                        <a href="{{ path('nfq_nom_nom_recipe', {'id':eventRecipe.myRecipe.id}) }}">
                            {{ eventRecipe.myRecipe.recipeName }}
                            ( Servings: {{ eventRecipe.myRecipe.numberOfServings }} )
                        </a>
                        <br>
                        <div class="but">
                            <a class="buttonBox" href="{{ path('Nfq_nom_nom_upvote_recipe',
                            {'eventRecipeId':eventRecipe.id,
                            'userEventId':currentUserEvent.id}) }}">

                                I would like.
                            </a></div>
                        <div class="but">
                            <a class="buttonBox" href="{{ path('Nfq_nom_nom_downvote_recipe',
                            {'eventRecipeId':eventRecipe.id,
                            'userEventId':currentUserEvent.id}) }}">
                                I wouldn't like.
                            </a></div>
                        <span>Total people wants this dish: {{ eventRecipe.totalUpvote }}</span>
                        <br>
                        <hr>
                    {% endfor %}
                    <br>

                </div>
            </div>
        </div>
    {% endblock %}