{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% javascripts '@NfqNomNomBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <style>
        #element_to_pop_up {
            background-color:#fff;
            border-radius:15px;
            color:#000;
            display:none;
            padding:20px;
            min-width:400px;
            min-height: 180px;
        }
        .b-close {
            border-radius: 7px;
            font: bold 131% sans-serif;
            padding: 0 6px 2px;
            background-color: #2b91af;
            color: #fff;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            position: absolute;
            right: -7px;
            top: -7px;
        }
        .b-close:hover {
            background-color: #1e1e1e;
        }
        #right-area{
            float: right;
            height: 100%;
            padding:40px;
            width: 200px;
            margin-top: 100px;
            background-color: #eeeeee;
            right: 0;
            top: 0;


        }

    </style>

    <div id="right-area">

    {{ error }}
    <div>Event Name:</div>
    {{ event.eventName }}

    <div>Event creation date:</div>
    {{ event.dateCreated.date }}

    <div>Event date:</div>
    {{ event.eventDate.date }}

    <div>Event Phase:</div>
    {{ event.eventPhase }}

    <hr>
    <a href="{{ path('Nfq_nom_nom_add_user_to_event', {'eventId': event.id}) }}">Add a person</a>
    <hr>
    <a href="{{ path('Nfq_nom_nom_add_recipe_to_event', {'eventId': event.id}) }}">Add a recipe</a>

    <hr>
    <div>Host of the event:</div>
    <div>{{ host.myUser.username }}</div>

    <hr>
    <div> people invited:</div>
    {% for userEvent in invitedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}

    <hr>
    <div> people accepted invitations:</div>
    {% for userEvent in acceptedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}
    <hr>

    </div>

    <div> recipes included:</div>
    {% for eventRecipe in eventRecipes %}
        <a href="{{ path('nfq_nom_nom_recipe', {'id':eventRecipe.myRecipe.id}) }}">
            {{ eventRecipe.myRecipe.recipeName }}
        </a>

        <a href="{{ path('Nfq_nom_nom_upvote_recipe',
        {'eventRecipeId':eventRecipe.id,
        'userEventId':currentUserEvent.id}) }}">
            UpVote
        </a>

        <span>Total votes: {{ eventRecipe.totalUpvote }}</span>

        <a href="{{ path('Nfq_nom_nom_downvote_recipe',
        {'eventRecipeId':eventRecipe.id,
        'userEventId':currentUserEvent.id}) }}">
            DownVote
        </a>
        <br>
    {% endfor %}
    <hr>
    <a href="{{ path('Nfq_nom_nom_progress_event', {'eventId': event.id}) }}">{{ progButton }}</a>
    {#generated content displaying#}
{% endblock %}