{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    {{ error }}
    <div>Event Name:</div>
    {{ event.eventName }}

    <div>Event creation date:</div>
    {{ event.dateCreated.date }}

    <div>Event date:</div>
    {{ event.eventDate.date }}

    <div>Event Phase:</div>
    {{ event.eventPhase }}

    <br>
    <a href="{{ path('Nfq_nom_nom_add_user_to_event', {'eventId': event.id}) }}">Add people</a>

    <hr>
    <div>Host of the event:</div>
    <div>{{ host.myUser.username }}</div>

    <hr>
    <div> people invited:</div>
    {% for userEvent in invitedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}

    <hr>
    <div> people accepted invitations:</div>
    {% for userEvent in acceptedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}
    {#generated content displaying#}
{% endblock %}