{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    {{ error }}
    <div>Event Name:</div>
    {{ event.eventName }}

    <div>Event creation date:</div>
    {{ event.dateCreated.date }}

    <div>Event date:</div>
    {{ event.eventDate.date }}

    <div>You can choose which products you want to bring.</div>
    <hr>
    <div>Host of the event:</div>
    <div>{{ host.myUser.username }}</div>


    <hr>
    <div> people invited:</div>
    {% for userEvent in invitedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}

    <hr>
    <div> people accepted invitations:</div>
    {% for userEvent in acceptedUE %}
        <div> {{ userEvent.myUser.username }}</div>
    {% endfor %}
    <hr>

    <div> recipes included:</div>
    {% for recipeName, recipe in information %}

            <a href="{{ path('nfq_nom_nom_recipe', {'id':recipe['id']}) }}">
                {{ recipeName }}
            </a>
            <span>People eating: {{ recipe['totalUpvote'] }}</span>
            <div id="recipeIngredients{{ recipe['id'] }}">
                <ul class="list-group">
                    {% for product in recipe['products'] %}
                        <li class="list-group-item">
                            {{ product['quantity'] ? product['quantity'] : '' }}
                            {{ product['quantityMeasure'] ? product['quantityMeasure'] : '' }}
                            {{ product['productName'] }}
                            {% if product['bringerName'] is sameas('') %}
                            <a class="btn btn-info" href="{{ path('Nfq_nom_nom_add_userproduct',
                            {'userEventId':product['userEventId'],
                            'recipeProductId':product['recipeProductId']}) }}">
                                i'll bring
                            </a>
                            {% else %}
                                <span>{{ product['bringerName'] }} is bringing</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
    {% endfor %}

    <hr>
    <a class="btn btn-large btn-primary" href="{{ path('Nfq_nom_nom_progress_event',
    {'eventId': event.id}) }}">{{ progButton }}</a>
    {#generated content displaying#}
{% endblock %}