{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}

    <div class="eventBox">
        {{ error }}
        <h2>{{ event.eventName }}</h2>

        <div id="leftArea">
            <div class="DateBox">
                <div class="createdDate">
                    <div>Event creation date:</div>
                    {{ event.dateCreated.date }}
                </div>
                <div class="eventDate">
                    <div>Event date:</div>
                    {{ event.eventDate.date }}
                </div>
                <hr>
                <div>Host of the event:</div>
                <div>{{ host.myUser.username }}</div>
            </div>

        </div>
        <div id="rightArea">
            <div id="actionBox">

                <div><h5>People invited:</h5></div>
                {% for userEvent in invitedUE %}
                    <div> {{ userEvent.myUser.username }}</div>
                {% endfor %}

                <hr>
                <div><h5>People accepted invitations:</h5></div>
                {% for userEvent in acceptedUE %}
                    <div> {{ userEvent.myUser.username }}</div>
                {% endfor %}
            </div>
            <hr>
            <div class="recipesBox">
                <div><h5>You are bringing:</h5></div>
                {% for product in personalUserProducts %}
                    <span>{{ product.myRecipeProduct.myProduct.getProductName }}
                        ({{ product.getQuantity }}) for
        </span>
                    <a href="{{ path('nfq_nom_nom_recipe', {'id':product.myRecipeProduct.myRecipe.getId}) }}">
                        {{ product.myRecipeProduct.myRecipe.getRecipeName }}
                    </a>
                    <br>
                {% endfor %}
                <hr>
                <div><h5> Recipes included:</h5></div>
                {% for recipeName, recipe in information %}

                    <a href="{{ path('nfq_nom_nom_recipe', {'id':recipe['id']}) }}">
                        {{ recipeName }}
                    </a>
                    <span>People eating: {{ recipe['totalUpvote'] }}</span>
                    <div id="recipeIngredients{{ recipe['id'] }}">
                        <ul class="listGroup">
                            {% for product in recipe['products'] %}
                                <li class="listGroup2">
                                    {{ product['quantity'] ? product['fullQuantity'] : '' }}
                                    {{ product['quantityMeasure'] ? product['quantityMeasure'] : '' }}
                                    {{ product['productName'] }}
                                    <span>bringing: </span>
                                    {% for bringer in product['bringers'] %}
                                        <span>name: {{ bringer['name'] }} ({{ bringer['quantity'] }})</span>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                {% endfor %}</div>
        </div>
    </div>
    {#generated content displaying#}
{% endblock %}