{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    {{ error }}
    {{ form_start(forma) }}
    {# ... #}

    {# store the prototype on the data-prototype attribute #}
    <ul id="user-fields-list" data-prototype="{{ form_widget(forma.users.vars.prototype)|e }}">
        {% for userField in forma.users %}
            <li>
                {{ form_errors(userField) }}
                {{ form_widget(userField) }}
            </li>
        {% endfor %}
    </ul>

    <a href="#" id="add-another-user">Add another user</a>

    {# ... #}
    {{ form_end(forma) }}

    <script type="text/javascript">
        // keep track of how many user fields have been rendered
        var userCount = '{{ forma.users|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-user').click(function() {
                var userList = jQuery('#user-fields-list');

                // grab the prototype template
                var newWidget = userList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your users
                // end name attribute looks like name="contact[users][2]"
                newWidget = newWidget.replace(/__name__/g, userCount);
                userCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(jQuery('#user-fields-list'));

                return false;
            });
        })
    </script>
    {#generated content displaying#}
{% endblock %}