{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    {{ error }}
    <div>Event Name:</div>
    {{ event['eventName'] }}

    <div>Event creation date:</div>
    {{ event['dateCreated'] }}

    <div>Event date:</div>
    {{ event['eventDate'] }}

    <div>Event Phase:</div>
    {{ event['eventPhase'] }}

    <br>
    <a href="{{ path('Nfq_nom_nom_add_user_to_event', {'eventId': eventId}) }}">Add people</a>
    {#generated content displaying#}
{% endblock %}