{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        {% javascripts '@NfqNomNomBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets 'bundles/nfqnomnom/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets filter="compass"
        "@NfqNomNomBundle/Resources/assets/css/main.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}



        <ul class="nav nav-tabs">
            <li><a href=" {{ path('Nfq_nom_nom_homepage') }}">Home</a></li>
            <li><a href=" {{ path('nfq_nom_nom_recipe_list') }}">Recipes</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href=" {{ path('Nfq_nom_nom_profile') }}">Profile</a></li>
                <li><a href=" {{ path('Nfq_nom_nom_event_manager') }}">Events</a></li>
                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </li>
                <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li>
                    {% if notificationCheck(app.user) is empty %}
                        <a href="{{ path('Nfq_nom_nom_notifications') }}">
                            <span class="glyphicon glyphicon-envelope " title="there are new notifications"></span>
                        </a>
                    {% else %}
                        <a href="{{ path('Nfq_nom_nom_notifications') }}">
                            <span class="glyphicon glyphicon-envelope new-notifications"></span>
                        </a>
                    {% endif %}

                </li>
            {% else %}
                <li><a href="{{ path('nfq_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                <li>
                    <a href="{{ path('nfq_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </li>

            {% endif %}
        </ul>
    {% endblock %}

    {% block content %}
        {{ error }}

    {% endblock %}
{% endblock %}
