{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% javascripts '@NfqNomNomBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets 'bundles/nfqnomnom/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets filter="compass"
        "@NfqNomNomBundle/Resources/assets/css/main.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <script>
            jQuery(document).ready(function () {
                var thumbs = jQuery('#thumbnails').slippry({
                    // general elements & wrapper
                    slippryWrapper: '<div class="slippry_box thumbnails" />',
                    // options
                    transition: 'fade',
                    speed: 1000,
                onSlideBefore: function (el, index_old, index_new) {
                    jQuery('.thumbs a img').removeClass('active');
                    jQuery('img', jQuery('.thumbs a')[index_new]).addClass('active');
                }
            });

            jQuery('.thumbs a').click(function () {
                thumbs.goToSlide($(this).data('slide'));
                return false;
            });
            });

        </script>
        <div id="logoBox">
            <div id="logo">


            </div>
        </div>
        <div id="header">
            <div id="buttons">
                <ul class="nav nav-tabs">
                    <li><a {% if app.request.attributes.get('_route') == 'Nfq_nom_nom_homepage' %} class="active"{% endif %} href=" {{ path('Nfq_nom_nom_homepage') }}">Home</a></li>
                    <li><a {% if app.request.attributes.get('_route') == 'nfq_nom_nom_recipe_list' %} class="active"{% endif %} href=" {{ path('nfq_nom_nom_recipe_list') }}">Recipes</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a {% if app.request.attributes.get('_route') == 'Nfq_nom_nom_profile' %} class="active"{% endif %} href=" {{ path('Nfq_nom_nom_profile') }}">Profile</a></li>
                        <li><a {% if app.request.attributes.get('_route') == 'Nfq_nom_nom_event_manager' %} class="active"{% endif %} href=" {{ path('Nfq_nom_nom_event_manager') }}">Events</a></li>
                        <li id="loginAs">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </li>
                        <li><a {% if app.request.attributes.get('_route') == 'fos_user_security_logout' %} class="active"{% endif %} href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            {% if notificationCheck(app.user) is empty %}
                                <a {% if app.request.attributes.get('_route') == 'Nfq_nom_nom_notifications' %} class="active"{% endif %} href="{{ path('Nfq_nom_nom_notifications') }}">
                                    <span class="glyphicon glyphicon-envelope "
                                          title="there are new notifications"></span>
                                </a>
                            {% else %}
                                <a {% if app.request.attributes.get('_route') == 'Nfq_nom_nom_notifications' %} class="active"{% endif %} href="{{ path('Nfq_nom_nom_notifications') }}">
                                    <span class="glyphicon glyphicon-envelope new-notifications"></span>
                                </a>
                            {% endif %}

                        </li>
                    {% else %}
                        <li>
                            <a {% if app.request.attributes.get('_route') == 'nfq_security_login' %} class="active"{% endif %} href="{{ path('nfq_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li>
                            <a {% if app.request.attributes.get('_route') == 'nfq_registration_register' %} class="active"{% endif %} href="{{ path('nfq_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        {{ error }}
        <div id="quoteBody">
            <div id="quote">

                “There is no love sincerer than the love of food.”

                ― George Bernard Shaw
            </div>
        </div>
        <section style="width: 50%; margin: 0 auto" id="demo_wrapper">
                <ul id="thumbnails">
                    <li><a href="#slide1">
                            {% image '@NfqNomNomBundle/Resources/public/images/food1.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                    <li><a href="#slide2">
                            {% image '@NfqNomNomBundle/Resources/public/images/food2.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                    <li><a href="#slide3">
                            {% image '@NfqNomNomBundle/Resources/public/images/food3.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                    <li><a href="#slide4">
                            {% image '@NfqNomNomBundle/Resources/public/images/food4.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                    <li><a href="#slide5">
                            {% image '@NfqNomNomBundle/Resources/public/images/food5.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                    <li><a href="#slide6">
                            {% image '@NfqNomNomBundle/Resources/public/images/food6.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                        </a></li>
                </ul>
                <div class="thumb-box">
                    <ul class="thumbs">
                        <li><a href="#1" data-slide="1">
                                {% image '@NfqNomNomBundle/Resources/public/images/food1.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                        <li><a href="#2" data-slide="2">
                                {% image '@NfqNomNomBundle/Resources/public/images/food2.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                        <li><a href="#3" data-slide="3">
                                {% image '@NfqNomNomBundle/Resources/public/images/food3.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                        <li><a href="#4" data-slide="4">
                                {% image '@NfqNomNomBundle/Resources/public/images/food4.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                        <li><a href="#5" data-slide="5">
                                {% image '@NfqNomNomBundle/Resources/public/images/food5.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                        <li><a href="#6" data-slide="6">
                                {% image '@NfqNomNomBundle/Resources/public/images/food6.jpg' %}
                                <img src="{{ asset_url }}" alt="Example"/>
                                {% endimage %}
                            </a></li>
                    </ul>
                </div>
        </section>
    {% endblock %}
{% endblock %}
