{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% javascripts '@NfqNomNomBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<style>
    #element_to_pop_up {
        background-color:#fff;
        border-radius:15px;
        color:#000;
        display:none;
        padding:20px;
        min-width:400px;
        min-height: 180px;
        margin-right: 440px;

    }
    .b-close {
        border-radius: 7px;
        font: bold 131% sans-serif;
        padding: 0 6px 2px;
        background-color: #2b91af;
        color: #fff;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        position: absolute;
        right: -7px;
        top: -7px;
    }
    .b-close:hover {
        background-color: #1e1e1e;
    }

</style>
<script>
    $(function() {
    $("#displaysearch_selectSELECT").click(function(e)
    {


        var selected = $("#recipeBoxSmall input:checked").map(function(i,el){return el.name;}).get();



            alert(selected);
        var data = {'bob':'foo','paul':'dog'};
        $.ajax({
            url: url,
            type:"POST",
            //contentType:'application/json',
            data: JSON.stringify(data),
            dataType:'json'
        });




    }
    )
    });
</script>
<!-- Button that triggers the popup -->
    <div id="backgroundRecipeList2">

    <button class="buttonBox" id="my-button">Filter Recipes</button>
<!-- Element to pop up -->
<div id="element_to_pop_up">
    <a class="b-close">x</a>



    {% embed 'NfqNomNomBundle:Default:test2.html.twig' %}



    {% endembed %}

</div>

    {% if recipes !=false %}
    {% for recipe in recipes %}


        <a href="{{ path('nfq_nom_nom_recipe', {'id': recipe.getId()}) }}">
            <div id="recipeBoxSmall">
                <div id="recipePhotoBoxSmall"
                     style="background-image: url({{ vich_uploader_asset(recipe, 'image') }})">
                </div>
                <div id="textBox" title="{{ recipe.getRecipeName }}">
                    {{ recipe.getRecipeName() }}
                </div>
            </div>
        </a>


    {% endfor %}




    {% endif %}
    </div>
{% endblock content %}